<?xml version="1.0" ?>
<robot name="drone">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="zipline_drone.obj" scale="1 1 1"/>
      </geometry>
       <material name="red">
        <color rgba="1 0.4 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="zipline_drone.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
